@CHARSET "UTF-8";
.admin{
	display: flex;
	flex-wrap: wrap;
}

.admin>div{
	flex: 1;
	padding: 2%;
	margin: 2%;
}

.col{
	display: flex;
	flex-wrap: wrap;
}

.col>figure,
.col>div{
	flex: 1;
	padding: 1%;
	margin-bottom: 40px;
}

.col>div>a{
	color: grey;
	text-decoration: underline;
}

.resEs{
	font-weight: bold;
}

h3,
.totales{
	color: orange;
}

.banner{
	widht: 100%;
	height: 200px;
}

.titul{
	color: orange;
}

.busca{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding: 2%;
}

.busca>form{
	flex: 1;
}

.icon{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50px;
}

.buscador{
	padding: 1%;
	font-size: 1.1em;
}

.buttonPrint,
.buttonInscr{
	padding: 1%;
	font-size: 1.5em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

.buttonForm{
	width: 150px;
	height: 50px;
	padding: 0.5%;
	font-weight: bold;
	font-size: 1em;
	border-radius: 5px 5px 5px 5px;
	color: black;
	text-align: center;
	margin-left: 2%;
}

.save{
	background-color: #58FA58;
}

.reset{
	background-color: red;
}

.edit{
	background-color: blue;
}

.search{
	background-color: #81BEF7;
}

.buscadorFondo{
	background-color: #F2F2F2;
	padding: 2%;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	 box-shadow:  2px 4px 4px grey;
}

.verCurso{
	box-shadow: 2px 5px 5px grey;
	background-color: #F2F2F2;
	margin-left: 10%;
	margin-right: 10%;
	padding: 4%;

}

.caract{
	display: flex;
	flex-wrap: wrap;
	padding: 2%;
}

.caract>div,
.caract>figure{
	flex: 1;
}

.caract>div{
	padding-top: 50px;
}

.caract>figure{
	text-align: center;
}

.infCurs{
		padding: 2%;
}

.centrado{
	margin-left: 20%;
	margin-right: 20%;
}
